h1{
    text-align: center;
}

html{
    background-color:rgb(8, 8, 8);
    line-height: 1.8;
    font-size: 1.0em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    text-align: justify;
}

.ugras a
{
    position:absolute;
    left:-9999px;
}

.ugras a:focus
{
    position:static;
    color:red;
}

.videofelirat{
    text-align: center;
}

.videofelirat a:link{
    color: #0AFBFF;
}

.videofelirat a:visited{
    color: #E8C9F3;
}

#orivege td{
    border: 1px solid black;
}

#orivege th{
    border: 1px solid black;
}

.menu{
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid black;
    float: right;
    background-color:rgb(175, 184, 196);
}
.menu a{
    padding: 4px 8px;
    font-size: 1em;
}
.menu a.active{
    background-color: #f1ebd2;
    color: black;
}
.menu a:hover{
    background-color: rgb(30, 182, 228);
}

#current{
    background-color: rgb(70, 228, 30);
}


.menuketto{
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid black;
    float: right;
    background-color:rgb(175, 184, 196);
}
.menuketto a{
    padding: 4px 8px;
    font-size: 1em;
}
.menuketto a.active{
    background-color: #f1ebd2;
    color: black;
}
.menuketto a:hover{
    background-color: rgb(30, 182, 228);
}

#normal{
    background-color: rgb(70, 228, 30);
}

video{
    border: 1px solid white;
    display: block;
    margin: 0 auto;
    width:960px; 
    height:540px;
}

.oriborito{
    width: 240px ;
    height: 320px ;
    float: right;
    padding-left: 20px;
}

.oriugras{
    width: 480px; 
    height: 270px ;
    float:left; 
    padding-right: 25px;
}

.orifa{
    width: 430px;
    height: 280px ;
    float:left; 
    padding-right: 25px;
}

.oriability{
    width:430px ;
    height:280px ;
    float:right;
    padding-left: 15px;
}

.oriharc{
    width:414px ;
    height:232.875px ;
    float:right;
    padding-left: 20px;
}

.orihavas{
    width:741.6px;
    height:417.15px; 
    float:left;
}

.oriviz{
    width:741.6px ;
    height:417.15px ;
    float:right;
}

.oriul{
    width: 90%; 
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

@media only screen and (max-width: 1450px){
    h1{
        text-align: center;
    }

    img{
        text-align: center;
    }
    
    html{
        background-color:rgb(8, 8, 8);
        line-height: 1.8;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    
    body{
        text-align: justify;
        text-align: center;
    }
    
    .ugras a{
        color: red;
    }

    .videofelirat{
        text-align: center;
    }
    
    .videotart a:link{
        color: red;
    }
    
    .videotart a:visited{
        color: rgb(88, 73, 218);
    }
    
    #orivege td{
        border: 1px solid black;
    }
    
    #orivege th{
        border: 1px solid black;
    }
    
    .menu{
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid black;
        float: none;
        background-color:rgb(175, 184, 196);
    }
    .menu a{
        padding: 4px 8px;
        font-size: 1em;
    }
    .menu a.active{
        background-color: #f1ebd2;
        color: black;
    }
    .menu a:hover{
        background-color: rgb(30, 182, 228);
    }
    
    #current{
        background-color: rgb(70, 228, 30);
    }
    
    
    .menuketto{
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid black;
        float: none;
        background-color:rgb(175, 184, 196);
    }
    .menuketto a{
        padding: 4px 8px;
        font-size: 1em;
    }
    .menuketto a.active{
        background-color: #f1ebd2;
        color: black;
    }
    .menuketto a:hover{
        background-color: rgb(30, 182, 228);
    }
    
    #normal{
        background-color: rgb(70, 228, 30);
    }
    
    video{
        border: 1px solid white;
        display: block;
        margin: 0 auto;
        width: 70%; 
        height: 70% ;
    }
    
    .oriborito{
        width:50%;
        height:50%; 
        float: none;
        padding-left: 20px;
    }
    
    .oriugras{
        width: 70%; 
        height: 70% ;
        float:none; 
        padding-right: 25px;
    }
    
    .orifa{
        width: 70%; 
        height: 70% ;
        float:none; 
        padding-right: 25px;
    }
    
    .oriability{
        width: 70%; 
        height: 70% ;
        float:none;
        padding-left: 15px;
    }
    
    .oriharc{
        width: 70%; 
        height: 70% ;
        float:none;
        padding-left: 20px;
    }
    
    .orihavas{
        width: 70%; 
        height: 70% ;
        float:none;
    }
    
    .oriviz{
        width: 70%; 
        height: 70% ;
        float:none;
    }
    
    .oriul{
        width: 80%; 
        height: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
}

@media only screen and (max-width: 770px){
    h1{
        text-align: center;
    }

    img{
        text-align: center;
    }
    
    html{
        background-color:rgb(8, 8, 8);
        line-height: 1.8;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    
    body{
        text-align: justify;
        text-align: center;
    }
    
    .ugras a{
        color: red;
    }

    .videofelirat{
        text-align: center;
    }
    
    .videotart a:link{
        color: red;
    }
    
    .videotart a:visited{
        color: rgb(88, 73, 218);
    }
    
    #orivege td{
        border: 1px solid black;
    }
    
    #orivege th{
        border: 1px solid black;
    }
    
    .menu{
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid black;
        float: none;
        background-color:rgb(175, 184, 196);
    }
    .menu a{
        padding: 4px 8px;
        font-size: 1em;
    }
    .menu a.active{
        background-color: #f1ebd2;
        color: black;
    }
    .menu a:hover{
        background-color: rgb(30, 182, 228);
    }
    
    #current{
        background-color: rgb(70, 228, 30);
    }
    
    
    .menuketto{
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid black;
        float: none;
        background-color:rgb(175, 184, 196);
    }
    .menuketto a{
        padding: 4px 8px;
        font-size: 1em;
    }
    .menuketto a.active{
        background-color: #f1ebd2;
        color: black;
    }
    .menuketto a:hover{
        background-color: rgb(30, 182, 228);
    }
    
    #normal{
        background-color: rgb(70, 228, 30);
    }
    
    video{
        border: 1px solid white;
        display: block;
        margin: 0 auto;
        width: 70%; 
        height: 70% ;
    }
    
    .oriborito{
        width:50%;
        height:50%; 
        float: none;
        padding-left: 20px;
    }
    
    .oriugras{
        width: 70%; 
        height: 70% ;
        float:none; 
        padding-right: 25px;
    }
    
    .orifa{
        width: 70%; 
        height: 70% ;
        float:none; 
        padding-right: 25px;
    }
    
    .oriability{
        width: 70%; 
        height: 70% ;
        float:none;
        padding-left: 15px;
    }
    
    .oriharc{
        width: 70%; 
        height: 70% ;
        float:none;
        padding-left: 20px;
    }
    
    .orihavas{
        width: 70%; 
        height: 70% ;
        float:none;
    }
    
    .oriviz{
        width: 70%; 
        height: 70% ;
        float:none;
    }
    
    .oriul{
        width: 80%; 
        height: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
}

@media print{
    body{
        margin:0;
        color: black;
        width: 90%;
        line-height: 1.5;
        text-align: justify;
        background-color: rgb(255, 255, 255);
        font-family: 'Times New Roman', Times, serif;
    }

    .menu{
        display: none;
    }

    .menuketto{
        display: none;
    }

    a:after{content: "(" attr(href) ")";}

    video{
        display: none;
    }
}
