h1{
    text-align: center;
}

html{
    background-color:rgb(247, 247, 247);
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
}

.ugras a
{
    position:absolute;
    left:-9999px;
}

.ugras a:focus
{
    position:static;
    color:rgb(16, 30, 230);
}

body{
    text-align: justify;
}

.felhasznalo input{
    width: 200px;
}

.menu{
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid black;
    float: right;
    background-color:rgb(175, 184, 196);
}
.menu a{
    padding: 4px 8px;
    font-size: 1em;
}
.menu a.active{
    background-color: #f1ebd2;
    color: black;
}
.menu a:hover{
    background-color: rgb(30, 182, 228);
}
.menu a:visited{
    color:rgb(48, 54, 121);
}

#current{
    background-color: rgb(70, 228, 30);;
}

.menuketto{
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid black;
    float: right;
    background-color:rgb(175, 184, 196);
}
.menuketto a{
    padding: 4px 8px;
    font-size: 1em;
}
.menuketto a.active{
    background-color: #f1ebd2;
    color: black;
}
.menuketto a:hover{
    background-color: rgb(30, 182, 228);
}

#nagy{
    background-color: rgb(70, 228, 30);
}

#boxok{
    text-align: center;
    width: 70%;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

#textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.areacim{
    margin-left: 20px;
}

.resetgomb{
    float: right;
    margin-right: 20px;
    margin-bottom: 30px;
}

.submitgomb{
    float: right;
}

@media print{
    body{
        margin:0;
        color: black;
        width: 90%;
        float:none;
        line-height: 1.5;
        text-align: justify;
        background-color: rgb(255, 255, 255);
        font-family: 'Times New Roman', Times, serif;
    }

    .menu{
        display: none;
    }

    .menuketto{
        display: none;
    }

    a:after{content: "(" attr(href) ")";}

    #textarea{
        width: 100%;
    }
}